body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .success .progress-marker::before  { 
  background-color: green !important;
} */

.failure .progress-marker::before  { 
  background-color: red !important;
}

.alternative .progress-marker::before  { 
  background-color: yellow !important;
}

.image-progress { 
  width: 100px;
}