body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.success .progress-marker::before  { 
  background-color: #0cb03af7 !important;
}

.failure .progress-marker::before  { 
  background-color: red !important;
}

.alternative .progress-marker::before  { 
  background-color: orange !important;
}

.is-active .progress-marker::before  { 
  background-color: #319aee !important;
}

.success .progress-title::before {
  content: "😃";
}

.failure .progress-title::before {
  content: "😭";
}

.alternative .progress-title::before {
  content: "😐";
}

.image-progress { 
  width: 100px;
}

.image-progress-modal {
  width: 50%;
}

.ReactModalPortal div { 
  z-index: 21;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.header .group {
  text-align: right;
}
.progress {
  direction: ltr;
}

.step-info { 
  text-align: left;
}
ol.instractions li {
  text-align: right;
}
.progress .progress-tracker {
  margin: 0px;
}
.progress-marker .progress-text {
  padding-left: 3px;
  /* padding-right: 0px; */
}
div.camera video, .img-preview {
  /* object-fit: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0; */
}
.close-camera {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
  margin: 12px;
}
.close-camera:before, .close-camera:after {
  left: 15px;
  top: 8px;
  height: 16px;
}
.switch-camera {
  position: absolute;
  z-index: 1;
  width: 45px;
  bottom: 25px;
  left: 0px;
  margin-left: 18px;
}
.send-button {
  /* position: absolute; */
  /* z-index: 1; */
  /* bottom: 25px; */
  /* left: 50%; */
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color:  #1976D2;
  border: solid;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin-left: auto;
  margin-right: auto; 
}

.send-button.code {
  position: static;
  z-index: 0;
  transform: rotate(180deg);
}

.send-button svg { 
  margin-right: -3px;
}

body {
  padding: 0;
}

.show-img-preview img { 
  width: 100vw;
  position: sticky;
}

.camera {
  position: sticky;
}

.admin {
  direction: ltr;
}

.loading {
  text-align: center;
}
.progress {
  margin-left: 4px;
  margin-right: 4px;
}
.camera-icon {
  border: solid;
  border-color: #1976D2;
  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

}
.camera-icon svg {
  fill: #1976D2;
  width: 100px;
  height: 100px;
  margin-top: 5px;
}

.question-id {
  font-weight: bold;
}

.input-code { 
  margin-bottom: 10px;
}

.back-arrow { 
  position: absolute;
  left: 0px;
}
.send-button.code {
  /* position: absolute;
  bottom: 25px;
  margin-top: 0px; */
  margin-right: 10px;
  margin-top: 0px;
  vertical-align: middle;
}
.online-status {
  direction: ltr;
}